# Terraform files test
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive credentials
credentials.tf
secrets.tf

# IDE/editor files
.vscode/
.idea/
*.swp
*.bak
*.tmp

# OS files
.DS_Store
Thumbs.db

jenkins_rsa.pub
.gitignore
jenkins_rsa
